<FlexboxLayout>
    <StackLayout class="form" [class.dark]="!isLoggingIn">
        <Image src="~/images/logo.png"></Image>

        <TextField hint="Email Address" keyboardType="email"
                autocorrect="false" autocapitalizationType="none"
                class="input input-border"
                [(ngModel)]="user.email"></TextField>
        <TextField hint="Password" secure="true"
                class="input input-border"
                [(ngModel)]="user.password"></TextField>

        <Button text="Sign in" class="btn btn-primary"
                [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
                (tap)="submit()">></Button>
        <Button text="Sign up for Groceries"
                [text]="isLoggingIn ? 'Sign up' : 'Back to login'"
                (tap)="toggleDisplay()"></Button>
    </StackLayout>
</FlexboxLayout>
