Button, TextField {
    margin-bottom: 10;
}

FlexboxLayout {
    align-items: center;
    background-image: url("~/images/background.jpg");
    background-size: cover;
    justify-content: center;
}

Image {
    height: 70;
    margin-bottom: 20;
}

StackLayout {
    background-color: #f0f0f0;
    padding: 10 16;
    width: 300;
}

TextField {
    color: black;
    placeholder-color: #C4AFB4;
}

.btn-primary {
    background-color: #CB1D00;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.dark {
    background-color: #301217;
}

.dark TextField {
    color: #C4AFB4;
}
