Label {
    background-color: white;
    border-bottom-width: 1;
    border-bottom-color: gray;
}

ListView {
    opacity: 0;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.add-bar {
    background-color: #CB1D00;
    padding: 5;
}

.add-bar Image {
    height: 25;
    margin-left: 10;
    margin-right: 10;
    vertical-align: center;
}

.add-bar TextField {
    padding: 10;
}

.delete-view {
    background-color: #CB1D00;
    padding: 20;
}

.delete-view Image {
    color: white;
}
